<!DOCTYPE html>
<html lang="en"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:body>
    <main style="max-width: 380px;
                 margin-left: 50vw;
                 margin-top: 50vh;
                 transform: translate(-50%, -50%)">

        <h:head>
            <title>Log In</title>
            <h:outputStylesheet library="css" name="bootstrap.css"/>
        </h:head>

        <p:card>
            <h1 style="text-align: center">Log In</h1>
            <p:graphicImage alt="dpma-logo" name="dpma-logo.svg" library="images" style="width: 100%"/>
            <p:divider/>
            <h:form>
                <span class="p-field">
                    <p:outputLabel for="email" value="E-mail" styleClass="block"
                                   style="text-align: left; margin-top: 12px"/>
                    <p:inputText id="email" value="#{loginManager.email}" styleClass="block" style="width: 100%"/>
                </span>
                <br/>
                <span class="p-field">
                    <p:outputLabel for="@previous" value="Password" styleClass="block"
                                   style="text-align: left; margin-top: 12px"/>
                    <p:password id="password" value="#{loginManager.password}" styleClass="block" style="width: 100%"/>
                </span>
                <br/>
                <p:commandButton value="Login" action="#{loginManager.submit}" style="width: 100%; margin-top: 12px"/>

                <p:messages showDetail="true">
                    <p:autoUpdate/>
                </p:messages>
            </h:form>
        </p:card>
    </main>
</h:body>

</html>